@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@900&display=swap');
body, html {
  margin: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  scroll-behavior: smooth;
  background-color: white !important;
}

.bg-custom-c {
  background-color: #fff;
  transition: all .4s ease;
}

.bg-custom-c.active {
  background-color: rgba(255, 255, 255, 0.61);
}

.navbar-brand {
  font-size: 30px;
}

/*-----------------------------nav bar param--------------------------------------------------*/

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: transparent !important;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  transition: .5s all ease;
}

/*-----------------------------nav bar param finish--------------------------------------------------*/



.hr-left {
  background-color: rgba(0, 0, 0, 0.281);
  height: 50vh;
}

.hr-left .main-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  color: white;
  font-size: 70px;
  text-decoration: none;
}

.hr-right {
  background-image: url("./Home/Hero/pexels-torsten-dettlaff-70912.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-origin: border-box;
  height: 70vh;
}

.hr-right-contact {
  background-image: url("./Contact/ImageHero/_R5A5846.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-origin: border-box;
  height: 70vh;
}

.hr-left-contact {
  background-color: rgba(0, 0, 0, 0.281);
  height: 70vh;
  width: 100%;
}

.hr-left-contact .main-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 70px;
  text-decoration: none;
}

.hr-left-contact .sec-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.third-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 70px;
  text-decoration: none;
}

.forth-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.hm-left-contact {
  background-color: rgba(0, 0, 0, 0.562);
  height: 40vh;
  width: 100%;
}


.sendMail {
  color: #fff;
  background-color: #7e1111;
  border-radius: 3px;
  height: 40px;
  width: 130px;
  outline: none;
  border : none;
  transition: all .6s ease;
}

.sendMail:hover {
  color: #d21817;
  background-color: rgb(44, 43, 43);
}


.hero-gets-btn {
  color: white;
  background-color: #d21817;
  padding: 8px 30px;
  border-radius: 8px;
  transition: .5s ease all;
}

.hero-abt-btn {
  color: #d21817;
  background-color: white;
  padding: 8px 30px;
  border-radius: 8px;
  transition: .5s ease all;
}

.hero-gets-btn:hover {
  color: white;
  text-decoration: none;
  border-radius: 1px;
  background-color: #7e1111;
}

.hero-abt-btn:hover {
  color: white;
  text-decoration: none;
  border-radius: 1px;
  background-color: rgb(39, 39, 39);
}

.hero-first {
  box-shadow: 0 7px 17px -8px black;
  width: 100%;
}

.get-spef-st {
  border: white 1px solid !important;
  background-color: #d21817 !important;
  border-radius: 6px !important;
  color: white !important;
  transition: .5s all ease;
  text-align: center;
}

.get-spef-st:hover {
  border: 1px solid #d21817 !important;
  background-color: #7e1111 !important;
  box-shadow: 0px 7px 17px -8px black;
  border-radius: 1px !important;
}


.sign-spef-st {
  border: #d21817 1px solid !important;
  background-color: white !important;
  border-radius: 6px !important;
  color: #d21817 !important;
  transition: .5s all ease;
  text-align: center;
  width: 115px;
}

.sign-spef-st:hover {
  border: 1px solid #d21817 !important;
  background-color: #d2171757 !important;
  box-shadow: 0px 7px 17px -8px black;
  border-radius: 1px !important;
}

.cars-md-sect {
  background-color: whitesmoke;
}

/*--------------------------------------------first section----------------------------------------*/

.car-card img {
  box-shadow: -19px 24px 1px -6px #7e1111;
  filter: grayscale(0%);
}

/*---------------------------------------------second section----------------------------------------*/

.serv-tit {
  text-align: center;
  font-size: 50px;
  text-decoration: none;
}

.shadow-img-sec {
  box-shadow: 0px 7px 49px -8px black;
}
/*-------------------------------------------------About----------------------------------------------*/

.img-about-pers {
  border-radius: 50%;
  background-color: grey;
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
}



/*--------------------------------------------Error--------------------------------------------------*/

@media screen and (max-width: 992px) {
  .errorImg {
    width: 400px;
  }
  .homeMimg {
    width: 450px;
  }
  .shadow-img-sec {
    width: 450px;
  }
  .show-hr {
    visibility: visible;
  }
}

@media screen and (max-width: 1300px) {
  .shadow-img-sec {
    width: 500px;
  }
}

/*-------------------------Home----------------------------------------------------*/

.middleHomeHr {
  color: #d21817;
  width: 120px;
  border-bottom: #d21817 3px solid;
  direction: ltr;
}

.iconForFeat {
  color: #d21817;
  margin-bottom: 10px;
}

/*----------------------------------------------Dashboard------------------------------------------*/

.imageDash {
  transition: .4s ease all;
}

.imageDash:hover {
  transform: scale(0.9);
}

.textTypeDash {
  transition: .4s ease all;
}

.textTypeDash:hover {
  font-size: 16px;
  color: #d21817;
  text-decoration: none;
  box-shadow: 0px 0px 18px 2px black;
}

/*-----------------------------------------All items one page-------------------------------------------*/

.img-show-side {
  width: 180px !important;
  max-width: 180px !important;
}

/*----------------------------------------buy car only----------------------------------------------*/

.cars-sel {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 0px 4px .5px black;
  transition: .3s all ease;
}

.cars-sel:hover {
  background-color: rgba(220, 220, 220, 0.178);
  transform: scale(.98);
}

.cars-sel img {
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0px 5px 20px black;
}

.cars-sel h3 {
  color: rgba(68, 67, 67, 0.644);
  text-decoration: none;
  line-height: 5rem;
  transition: 1s all ease;
}

.cars-sel h3:hover {
  color: #1a1818;
  text-decoration: none;
  line-height: 5rem;
}

.cars-sel p {
  color: rgba(68, 67, 67, 0.808);
  text-decoration: none;
  transition: 1s all ease;
}

.cars-sel p:hover {
  color: #1a1818c2;
  text-decoration: none;
}

.buySingleCar-btn {
  padding: 12px 80px;
  background-color: #d21817;
  color: white;
  text-decoration: none;
  transition: .5s ease all;
  border-radius: 2px;
}

.buySingleCar-btn:hover {
  transform: scale(1.05);
  background-color: #7e1111;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

Link {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

/*------------------------loader --------------------------------------*/

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #d21817;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}